<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="Content">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h4>도서 등록</h4>

	<form th:action="@{/bookInsert}" method="post" name="insertForm">
		<table>
			<tr>
				<th>도서번호</th>
				<td><input type="text" name="bookNo"></td>
			</tr>
			<tr>
				<th>도서명</th>
				<td><input type="text" name="bookName"></td>
			</tr>
			<tr>
				<th>도서표지</th>
				<td><input type="text" name="bookCoverimg"></td>
			</tr>
			<tr>
				<th>출판일자</th>
				<td><input type="text" name="bookDate"></td>
			</tr>
			<tr>
				<th>금액</th>
				<td><input type="text" name="bookPrice"></td>
			</tr>
			<tr>
				<th>출판사</th>
				<td><input type="text" name="bookPublisher"></td>
			</tr>
			<tr>
				<th>도서소개</th>
				<td><textarea name="bookInfo"></textarea></td>
			</tr>
		</table>
		<button type="submit">등록</button>
		<button type="button" th:onclick="|location.href='@{/bookList}'|">조회</button>
	</form>
	<script>
		document.querySelector('form[name="insertForm"]');
		insertForm.addEventListener('submit', function(event){
			event.preventDefault(); // 해당 이벤트 일시정지
			
			let bookName = document.querySelector('input[name="bookName"]');
			if(bookName.value == ''){
				alert('도서명이 입력되지 않았습니다')
				bookName.focus();
				return;
			}
			alert('도서등록이 완료 되었습니다')
			insertForm.submit();
		});
		</script>
</body>
</html>